<p>task worksss!</p>
<div class="col-md-4  m-auto border " >

  <form class="col-md-12 p-16 ">
    <p class="h4 ">Form <i class="fas fa-times fr-0 close cl"></i></p>
    <div class="form-row ml-12">
      <div class="form-group col-md-12">
        <label for="inputEmail4">FirstName</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Nikola">
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword4">LastName</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Tesla">
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="inputAddress">Email address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234@gmail.com">
    </div>
    <div class="form-group col-md-12">
      <label for="inputAddress2">Mobile Number</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="03238910JQK">
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputCity">Salary</label>
        <input type="text" class="form-control" placeholder="1000$">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label " for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary sign ">Sign in</button>
  </form>
</div>

